<div class="card">
  <h1>Confirm</h1>
  <mat-dialog-content>
    <p>{{ data.message }}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="yes" (click)="onConfirm()">Yes</button>
    <button class="no" (click)="onCancel()">No</button>
  </mat-dialog-actions>
</div>
