/* Card Styles */
.card {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
}

/* Button Styles */
button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.yes {
  background-color: green;
}
.no {
  background-color: red;
}

button:hover {
  background-color: #0056b3;
}
