<div class="comments" *ngFor="let comment of theme.comments | keyvalue">
  <!--! Show Comment -->
  <ng-container *ngIf="showComments">
    <div class="comment" *ngIf="!comment.value.editModeComment">
      <div class="comment-header">
        <div class="comment-author-info">
          <p class="comment-author">{{ comment.value.author }},</p>
          <p class="comment-added-on">{{ comment.value.addedOn | date }}</p>
        </div>
        <div class="actions" *ngIf="userName === comment.value.author">
          <button
            class="action-icon edit"
            (click)="onToggleComment(comment.value)"
          >
            <mat-icon style="font-size: 18px">edit</mat-icon>
          </button>
          <button
            class="action-icon delete"
            (click)="confirmDeleteComment(theme, comment.value)"
          >
            <mat-icon style="font-size: 18px">delete</mat-icon>
          </button>
        </div>
      </div>
      <p class="comment-text">{{ comment.value.text }}</p>
    </div>
  </ng-container>

  <!--! Edit Comment -->
  <ng-container *ngIf="comment.value.editModeComment">
    <form
      [formGroup]="editCommentForm"
      (ngSubmit)="editComment(editCommentForm, theme, comment.value)"
    >
      <div class="comment">
        <div class="form-group">
          <textarea
            type="text"
            formControlName="text"
            class="comment-input"
            placeholder="Edit comment..."
          ></textarea>
        </div>
        <div class="comment-footer">
          <button
            type="button"
            class="comment-button"
            (click)="onToggleComment(comment.value)"
          >
            Cancel
          </button>
          <button type="submit" class="comment-button">Save</button>
        </div>
      </div>
    </form>
  </ng-container>
</div>

<!--! Post Comment -->
<form
  class="post-comment-form"
  [formGroup]="commentForm"
  (ngSubmit)="postComment(commentForm, theme)"
>
  <textarea
    formControlName="text"
    placeholder="Write your comment here..."
    class="comment-input"
  ></textarea>
  <button type="submit" class="comment-button">Submit</button>
</form>
