/* Action Icons */
.action-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #999;
  transition: color 0.3s ease;
  font-size: 14px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-weight: bold;
}

.edit:hover {
  color: green;
}

.delete:hover {
  color: red;
}

.msg:hover {
  color: blue;
}

/* Delete Button */
.delete-button {
  padding: 10px 15px;
  background-color: #ff5a5f;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: red;
}

/* Edit Button */
.edit-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: green;
}

/* Comments Section */
.comments {
  margin-top: 20px;
}

.comment {
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-author-info {
  display: flex;
  align-items: center;
  color: #888;
  gap: 5px;
  font-size: 12px;
}
.comment-text {
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}

.actions {
  display: flex;
  gap: 10px;
}

.comment-author,
.comment-date {
  font-size: 12px;
  color: #777;
}

.comment-button {
  padding: 5px 10px;
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

.comment-button:hover {
  background-color: #003586;
}

.comment-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 10px;
}

.comment-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.post-comment-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: flex-end;
}
