.about-section {
  padding: 50px 0;
  color: gray;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  justify-content: flex-start;
  width: 50%;
  text-align: start;
}

.headers h1 {
  font-size: 2rem;
  font-weight: bold;
}

.headers p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.about-text {
  margin-bottom: 40px;
  text-align: center;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

mat-card {
  flex-basis: calc(50% - 20px);
  background: radial-gradient(
    343px at 46.3% 47.5%,
    rgb(242, 242, 242) 0%,
    rgb(241, 241, 241) 72.9%
  );
  border-radius: 12px;
  color: gray;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    opacity 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  opacity: 0.5;
  height: auto;
}

mat-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

mat-card-header {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
  height: 150px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

mat-card-content {
  padding: 15px;
}

mat-card-title {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase;
}

mat-card-subtitle {
  font-size: 0.9rem;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: justify;
}

/* Experience and Education */

.experience,
.education {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.experience p,
.education p {
  font-size: 0.9rem;
  margin: 0;
}

/* Icon Size */
.experience mat-icon,
.education mat-icon {
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .experience,
  .education {
    font-size: 0.8rem;
  }

  .experience mat-icon,
  .education mat-icon {
    font-size: 1rem;
    margin-right: 6px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 6px 12px;
  text-transform: none;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.button mat-icon {
  margin-right: 5px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }

  mat-card {
    flex-basis: calc(100% - 20px);
  }

  mat-card-title {
    font-size: 1rem;
  }

  mat-card-subtitle {
    font-size: 0.8rem;
  }

  .headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: start;
  }

  .headers h1,
  p {
    font-size: 1.5rem;
  }
}

/* Animation Styles */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}
