<section class="about-section">
  <div class="container">
    <div class="about-text animate-on-scroll">
      <div class="headers">
        <h1>Join Us</h1>
        <p>
          We're excited to announce currently open positions at LinguaPro Hub!
        </p>
      </div>
    </div>

    <div class="about-content">
      <mat-card *ngFor="let item of data" class="animate-on-scroll">
        <mat-card-header>
          <img alt="image" class="card-image" src="{{ item.image }}" />
        </mat-card-header>
        <mat-card-content>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <div class="experience">
            <mat-icon>work</mat-icon>
            <p>{{ item.experience }}</p>
          </div>
          <div class="education">
            <span> <mat-icon>school</mat-icon></span>
            <p>{{ item.education }}</p>
          </div>
          <mat-card-subtitle> {{ item.text }}</mat-card-subtitle>
          <div class="button-container">
            <button class="button"><mat-icon>info</mat-icon> Learn More</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
