.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.card:hover {
  transform: translateY(-5px);
}

@keyframes scrollAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card.animated {
  animation: scrollAnimation 0.5s ease-in-out forwards;
}
