<mat-toolbar>
  <button
    mat-icon-button
    id="menu-icon"
    aria-label="Menu Icon"
    (click)="toggleDropdownMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div class="navbar-items">
    <span id="menu-title">LinguaPro Hub</span>
    <div class="items">
      <a class="top-menu-items center" mat-button routerLink="">Home</a>

      <div class="dropdown" (click)="toggleDropdown('aboutDropdown')">
        <button mat-button class="top-menu-items center">
          <span>About</span>
          <mat-icon style="margin-left: auto">
            {{ aboutDropdown ? "keyboard_arrow_up" : "keyboard_arrow_down" }}
          </mat-icon>
        </button>
        <div *ngIf="aboutDropdown" class="dropdown-content">
          <a routerLink="/about/general">General</a>
          <a routerLink="/about/team">Team</a>
          <a routerLink="/about/careers">Careers</a>
        </div>
      </div>

      <div class="dropdown" (click)="toggleDropdown('programmesDropdown')">
        <button mat-button class="top-menu-items center">
          <span>Programmes</span>
          <mat-icon style="margin-left: auto">
            {{
              programmesDropdown ? "keyboard_arrow_up" : "keyboard_arrow_down"
            }}
          </mat-icon>
        </button>
        <div *ngIf="programmesDropdown" class="dropdown-content">
          <a routerLink="/programmes/kids">Kids</a>
          <a routerLink="/programmes/adults">Adults</a>
          <a routerLink="/programmes/corporate">Corporate</a>
        </div>
      </div>

      <a class="top-menu-items center" mat-button routerLink="dictionary"
        >Dictionary</a
      >
      <a
        *ngIf="isLoggedIn && user?.role === 1"
        class="top-menu-items center"
        mat-button
        routerLink="dashboard"
        >Dashboard</a
      >
      <a
        *ngIf="isLoggedIn && (user?.role === 2 || user?.role === 3)"
        class="top-menu-items center"
        mat-button
        routerLink="classroom"
        >Classroom</a
      >
    </div>

    <div class="dropdown" *ngIf="isLoggedIn">
      <button mat-button class="top-menu-items end">
        <span class="btn-text">{{ user?.firstName }}</span>
      </button>
      <div class="dropdown-content logout">
        <a (click)="handleLogout()">Sign Out</a>
      </div>
    </div>
  </div>
</mat-toolbar>

<!-- Mobile -->

<div [ngClass]="{ 'mobile-dropdown-menu': true, show: showDropdownMenu }">
  <div class="minimize">
    <mat-icon (click)="toggleDropdownMenu()">arrow_drop_down </mat-icon>
  </div>
  <a
    class="mobile-menu-items center"
    *ngIf="isLoggedIn"
    mat-button
    (click)="handleLogout()"
    ><mat-icon>undo</mat-icon>Sign Out</a
  >
  <a
    class="mobile-menu-items center"
    *ngIf="!isLoggedIn"
    mat-button
    routerLink="/auth/login"
    (click)="toggleDropdownMenu()"
    ><mat-icon>play_for_work</mat-icon>Sign in</a
  >
  <a
    class="mobile-menu-items center"
    mat-button
    routerLink=""
    (click)="toggleDropdownMenu()"
    ><mat-icon>home</mat-icon>Home</a
  >
  <div class="dropdown" (click)="toggleDropdown('aboutDropdownMobile')">
    <button mat-button class="mobile-menu-items center">
      About
      <mat-icon style="margin-left: auto">
        {{ aboutDropdownMobile ? "keyboard_arrow_up" : "keyboard_arrow_down" }}
      </mat-icon>
    </button>
    <div
      [ngClass]="{ 'mobile-dropdown-content': true, show: aboutDropdownMobile }"
    >
      <a routerLink="/about/general" (click)="toggleDropdownMenu()">General</a>
      <a routerLink="/about/team" (click)="toggleDropdownMenu()">Team</a>
      <a routerLink="/about/careers" (click)="toggleDropdownMenu()">Careers</a>
    </div>
  </div>

  <div class="dropdown" (click)="toggleDropdown('programmesDropdownMobile')">
    <button mat-button class="mobile-menu-items center">
      <span>Programmes</span>
      <mat-icon style="margin-left: auto">
        {{
          programmesDropdownMobile ? "keyboard_arrow_up" : "keyboard_arrow_down"
        }}
      </mat-icon>
    </button>
    <div
      [ngClass]="{
        'mobile-dropdown-content': true,
        show: programmesDropdownMobile
      }"
    >
      <a routerLink="/programmes/kids" (click)="toggleDropdownMenu()">Kids</a>
      <a routerLink="/programmes/adults" (click)="toggleDropdownMenu()"
        >Adults</a
      >
      <a routerLink="/programmes/corporate" (click)="toggleDropdownMenu()"
        >Corporate</a
      >
    </div>
  </div>
  <a
    class="mobile-menu-items center"
    mat-button
    routerLink="dictionary"
    (click)="toggleDropdownMenu()"
    ><mat-icon>class</mat-icon>Dictionary</a
  >
  <a
    class="mobile-menu-items center"
    *ngIf="isLoggedIn && user?.role === 1"
    mat-button
    routerLink="dashboard"
    (click)="toggleDropdownMenu()"
    ><mat-icon>featured_play_list</mat-icon>Dashboard</a
  >
  <a
    class="mobile-menu-items center"
    *ngIf="isLoggedIn && (user?.role === 2 || user?.role === 3)"
    mat-button
    routerLink="classroom"
    (click)="toggleDropdownMenu()"
    ><mat-icon>work</mat-icon>Classroom</a
  >
</div>
