/* Toolbar styles */
mat-toolbar {
  background-color: white;
  box-shadow: 0px 4px 10px -5px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1000;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #00247d;
  padding-right: 20px;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #00247d;
}

.top-menu-items {
  margin: 15px;
  font-size: 1rem;
  border-radius: 50px;
  padding: 10px;
  font-weight: bold;
}

.center {
  background-color: inherit;
}

.end {
  padding: 10px;
  min-width: 100px;
  background: #00247d;
  text-decoration: none;
  border-radius: 10px;
}

.btn-text {
  color: white;
}

img {
  width: 150px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: #4a90e2;
  border: 1px solid #ddd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  z-index: 10;
  text-align: center;
  font-size: 16px;
}

.dropdown-content a {
  color: #4a90e2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content.logout a {
  border-radius: 25px;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:first-child {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.dropdown-content a:nth-child(2) {
  border-radius: 0;
}

.dropdown-content a:nth-child(3) {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Desktop specific styles */
@media (min-width: 900px) {
  #menu-icon {
    display: none;
  }

  .mobile-dropdown-menu {
    display: none;
  }
}

/* Mobile specific styles */
@media (max-width: 900px) {
  .top-menu-items {
    display: none;
  }

  .navbar-items {
    justify-content: center;
  }

  img {
    width: 100px;
  }

  /* Mobile dropdown menu styles */
  .mobile-dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    background-color: white;
    width: 100%;
    height: calc(66.67vh);
    position: fixed;
    bottom: -100vh;
    left: 0;
    z-index: 1001;
    transition: bottom 0.3s ease-in-out;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .minimize {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
  }
  .mobile-dropdown-menu.show {
    bottom: 0;
  }

  .mobile-menu-items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }

  .mobile-dropdown-content {
    display: none;
    position: relative;
    box-shadow: none;
    border: none;
    padding: 10px;
  }

  .mobile-dropdown-content.show {
    display: block;
  }
  .mobile-dropdown-content a {
    display: block;
    padding: 8px;
    color: #333;
    text-decoration: none;

    transition: background-color 0.3s;
  }

  .mobile-dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .mobile-dropdown-content a {
    text-align: left;
  }
}
