.outer-container {
  width: 90%;
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.input-container p {
  color: #4c516d;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  max-width: 30%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}

input[type="text"] {
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #4c516d;
}

.error {
  text-align: center;
  color: #e63946;
  font-weight: bold;
  margin-top: 10px;
}

.definition {
  width: 100%;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  overflow-y: auto;
}

.definition h2 {
  color: #1d3557;
  font-size: 20px;
  margin-bottom: 10px;
}

.definition p {
  margin-bottom: 8px;
  font-size: 14px;
  color: #457b9d;
}

.definition h3 {
  color: #e63946;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.definition strong {
  color: #1d3557;
}

.definition {
  animation: fadeIn 0.3s ease-in-out;
}

.fa-exclamation-triangle {
  margin-right: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .outer-container {
    padding: 10px;
  }

  .input-container,
  .definition {
    width: 100%;
    height: auto;
    box-shadow: none;
  }

  img {
    height: auto;
  }
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.result-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-icon img {
  opacity: 0.1;
  width: 50%;
  height: auto;
}

/* Additional Styles for Modern Look */
body {
  font-family: "Roboto", sans-serif;
  background: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 24px;
  color: #1d3557;
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #1d3557;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #457b9d;
}
