<mat-card class="outer-container">
  <div class="input-container">
    <!-- <h1>Dictionary</h1> -->
    <img
      src="https://media.istockphoto.com/id/905083206/photo/learn-language-english.jpg?s=612x612&w=0&k=20&c=c9xlASIqlk-VvKynWJKDyRThtepVB08o6OXlN8ec0Ns="
      alt="Books"
    />
    <p>
      This English glossary service is completely free, designed to support your
      educational journey. Utilize it to enhance your understanding of English
      vocabulary and concepts, enriching your learning experience. Take
      advantage of this resource to bolster your education and excel in your
      studies.
    </p>
    <input
      type="text"
      placeholder="Enter a word"
      [(ngModel)]="searchTerm"
      (keyup.enter)="search()"
    />
    <div *ngIf="!dictionaryData" class="error">
      <i class="fas fa-exclamation-triangle"></i> Press enter to see all the
      results for "{{ searchTerm }}"
    </div>
  </div>

  <div class="definition">
    <!-- <h1>Results</h1> -->
    <div *ngIf="!dictionaryData" class="result-icon">
      <img
        src="https://static.thenounproject.com/png/1058268-200.png"
        alt="No results"
      />
    </div>
    <div class="info" *ngIf="dictionaryData">
      <h2>{{ dictionaryData[0].word }}</h2>
      <p>Phonetic: {{ dictionaryData[0].phonetic }}</p>
      <p><strong>Origin:</strong> {{ dictionaryData[0]?.origin }}</p>

      <div *ngFor="let meaning of dictionaryData[0].meanings">
        <h3>{{ meaning.partOfSpeech }}</h3>
        <div *ngFor="let definition of meaning.definitions; let index = index">
          <p>
            <strong>Definition {{ index + 1 }}:</strong>
            {{ definition.definition }}
          </p>
        </div>
      </div>
    </div>
  </div>
</mat-card>
