<div class="main-container">
  <!--! grid -->
  <div class="grid-container">
    <div
      style="grid-column: span 2; margin-top: 1rem"
      class="animate-on-scroll"
    >
      <app-big-card
        title="LinguaPro Hub"
        subTitle=" Where learning knows no bounds!"
        text="Join our vibrant community of learners and embark on a transformative journey towards linguistic mastery. Explore our range of courses, engage in immersive learning experiences, and unlock endless opportunities with LinguaPro Hub by your side."
        [showHeader]="true"
        [showSubtitle]="true"
        [showText]="true"
        [showButton]="true"
        [showSocialIcons]="true"
        [customClass]="'home-big-card'"
        buttonLabel="{{ isLoggedIn ? 'Sign Out' : 'Sign In' }}"
        (buttonClick)="isLoggedIn ? handleLogout() : handleSignIn()"
      />
    </div>
  </div>

  <div class="grid-container">
    <div class="animate-on-scroll">
      <!--! card 1-->
      <app-small-card
        title="20% discount"
        subTitle="Only for LinguaPro Hub graduates"
        text="Graduates of LinguaPro Hub, it's your time to save! Enjoy a 20% discount on your next course with us. Continue your journey of mastering the English language while keeping more in your pocket. Don't miss out—this exclusive offer is just for you!"
        [showHeader]="true"
        [showSubtitle]="true"
        [showText]="true"
        [showButton]="true"
        [customClass]="'home-small-card bulletin_card'"
      />
    </div>
    <div class="animate-on-scroll">
      <!--! card 2-->
      <img
        src="https://d37sy4vufic209.cloudfront.net/website/_next/static/dynamic/befb17d089c2cf5db45ed3bda6ce0099/700.jpg"
        alt="image"
      />
    </div>
  </div>

  <div class="grid-container">
    <div style="grid-column: span 2" class="animate-on-scroll">
      <app-big-card
        title="Why English?"
        [showHeader]="true"
        [customClass]="'home-big-card why_english'"
      />
    </div>
  </div>

  <div class="grid-container">
    <div class="animate-on-scroll">
      <!--! card 1 -->
      <app-small-card
        title="Opportunities"
        text="Learning English can open a world of opportunities, both personally and professionally. As the most widely spoken language globally, English is a gateway to international communication, enabling you to connect with people from diverse backgrounds. It is the primary language for business, technology, science, and entertainment, providing you with an edge in the global job market. English proficiency allows you to access a wealth of information and resources, from academic journals to online courses, and it facilitates travel by bridging cultural and linguistic gaps. Whether you're aiming to study abroad, advance in your career, or simply broaden your horizons, mastering English is a valuable skill that can enrich your life and unlock a multitude of possibilities."
        [showHeader]="true"
        [showText]="true"
        [customClass]="'home-small-card why_english_card'"
      />
    </div>
    <div class="animate-on-scroll">
      <!--! card 2-->
      <app-small-card
        title="Global Reach"
        text="English is the third most spoken language in terms of native speakers, with over 377 million people who consider it their first language. However, its impact extends far beyond native speakers. Approximately 1.5 billion people worldwide use English, either as a first, second, or foreign language. This staggering number represents about 20% of the global population, indicating that English has become a critical tool for international communication and understanding."
        [showHeader]="true"
        [showText]="true"
        [customClass]="'home-small-card why_english_card'"
      />
    </div>
  </div>

  <div class="grid-container">
    <div class="animate-on-scroll">
      <!--! card 3 -->
      <app-small-card
        title="Education and Academia"
        text="English is also crucial in the realm of education and research. A study by Education First indicated that countries with higher English proficiency tend to have higher levels of education and innovation. English is the primary language used in academic journals, with more than 80% of journals indexed by the Science Citation Index and Social Sciences Citation Index published in English. This prevalence has led to English becoming the lingua franca for academic collaboration and exchange of knowledge across borders, making it a key factor in the dissemination of scientific research and educational resources."
        [showHeader]="true"
        [showText]="true"
        [customClass]="'home-small-card why_english_card'"
      />
    </div>
    <div class="animate-on-scroll">
      <!--! card 4-->
      <app-small-card
        title="Business and Economy"
        text="English has a dominant presence in the global economy. According to the British Council, English is the official language of 67 countries and 27 non-sovereign entities, making it the most common language used in international business. A significant proportion of multinational corporations use English as their corporate language, enabling cross-border communication and collaboration. Furthermore, over 55% of content on the internet is in English, reflecting its role as the primary medium for information exchange and e-commerce."
        [showHeader]="true"
        [showText]="true"
        [customClass]="'home-small-card why_english_card'"
      />
    </div>
  </div>
</div>
