/* Grid styles */
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-gap: 20px;
  width: 100%;
  /* padding-left: 4rem;
  padding-right: 4rem; */
}

.grid-container > div {
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  max-height: 500px;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 0;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: auto;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* Animation Styles */

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}
