/* Import Material Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Search Form */
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

/* Search Input Wrapper */
.search-input-wrapper {
  position: relative;
  width: 100%;
}

/* Search Input */
.search-input {
  width: 100%;
  padding: 10px 40px 10px 20px;
  background-color: inherit;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #4c516d;
}

.search-input::placeholder {
  color: #4c516d;
}

/* Search Icon */
.search-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #4c516d;
}

.search-icon i {
  font-size: 20px;
}
