<form [formGroup]="searchForm" class="search-form">
  <div class="search-input-wrapper">
    <input
      class="search-input"
      type="text"
      placeholder="Search..."
      formControlName="searchValue"
    />
    <span class="search-icon">
      <i class="material-icons">search</i>
    </span>
  </div>
</form>
