mat-card {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

mat-card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5dc;
  padding: 16px;
  gap: 10px;
}

mat-card-title {
  flex: 1;
  width: 100%;
  color: #00247d;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

mat-card-content {
  width: 100%;
  gap: 20px;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.button {
  padding: 6px 10px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-wrapper .back {
  background-color: #3d426b;
}

.btn-wrapper .edit {
  background-color: #3ac867;
}

.btn-wrapper .cancel {
  background-color: #3d426b;
}

.btn-wrapper .save {
  background-color: #3ac867;
}

.btn-wrapper .delete {
  background-color: #ff4433;
}

@media (max-width: 600px) {
  .course-card {
    padding: 12px;
  }

  mat-card-header {
    flex-direction: column;
    padding: 8px;
  }

  mat-card-title {
    margin-bottom: 8px;
  }

  mat-card-content {
    padding: 12px;
  }

  .btn-wrapper {
    justify-content: center;
    gap: 6px;
  }

  .button {
    padding: 6px 8px;
  }
}
