<mat-card *ngIf="course">
  <mat-card-header>
    <mat-card-title>Course Details</mat-card-title>
    <mat-card-actions class="btn-wrapper">
      <button
        *ngIf="!editMode"
        mat-button
        class="button back"
        [routerLink]="['..']"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button
        *ngIf="!editMode"
        mat-button
        class="button edit"
        (click)="onToggle()"
      >
        <mat-icon>build</mat-icon>
      </button>
      <button
        *ngIf="editMode"
        mat-button
        class="button cancel"
        (click)="onToggle()"
      >
        <mat-icon>cancel_presentation</mat-icon>
      </button>
      <button
        *ngIf="editMode"
        mat-button
        class="button save"
        (click)="handleUpdateCourse(courseForm)"
      >
        <mat-icon>done</mat-icon>
      </button>
      <button mat-button class="button delete" (click)="confirmDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-header>

  <mat-card-content>
    <!--! READONLY COURSE DETAILS -->
    <app-card-details
      *ngIf="!editMode"
      [course]="course"
      [students]="students || []"
    ></app-card-details>

    <!--! UPDATE COURSE DETAILS -->
    <app-edit-mode
      *ngIf="editMode"
      [course]="course"
      [students]="students"
      [teachers]="teachers"
      [selectedIndexes]="selectedIndexes"
      [courseForm]="courseForm"
      (updateCourse)="handleUpdateCourse($event)"
      (deleteStudent)="
        deleteStudent($event.studentId, $event.index, $event.event)
      "
    ></app-edit-mode>
  </mat-card-content>
</mat-card>
