.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.toast {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.toast-body {
  padding: 10px;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  background: none;
  border: none;
}

.toast-container.error .toast-body {
  background-color: #ffcccc;
}

.toast-container.success .toast-body {
  background-color: #d4edda;
}

.toast-container.warning .toast-body {
  background-color: #fffaa0;
}
