<div *ngIf="errorMessage" class="toast-container error">
  <div class="toast">
    <div class="toast-body">
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      {{ errorMessage }}
    </div>
  </div>
</div>

<div *ngIf="successMessage" class="toast-container success">
  <div class="toast">
    <div class="toast-body">
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      {{ successMessage }}
    </div>
  </div>
</div>

<div *ngIf="warningMessage" class="toast-container warning">
  <div class="toast">
    <div class="toast-body">
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      {{ warningMessage }}
    </div>
  </div>
</div>
