@import "~@fortawesome/fontawesome-free/css/all.css";

/*! HOME PAGE STYLES */

.home-big-card {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.9) 0%,
    rgba(220, 235, 255, 0.5) 74.6%
  );

  border-radius: 15px;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}

.extra-large-title {
  font-size: 5rem;
  font-weight: bold;
  color: #4c516d;
  margin-bottom: 1rem;
}

.large-paragraph {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 3rem;
  text-align: center;
  color: #c6c6dc;
}

.smaller-paragraph {
  font-size: 1rem;
  text-align: center;
  color: #c0c0c0;
}

.btn {
  padding: 10px;
  width: 150px;
  font-size: 0.8rem;
  background-color: #4c516d;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
}

.facebook {
  color: #4267b2;
  cursor: pointer;
}

.linkedin {
  color: #0a66c2;
  cursor: pointer;
}

.instagram {
  color: #c32aa3;
  cursor: pointer;
}

@media (max-width: 768px) {
  .home-big-card {
    padding: 20px;
    height: auto;
    gap: 1rem;
  }

  .extra-large-title {
    font-size: 2rem;
  }

  .large-paragraph {
    font-size: 1.2rem;
    margin-top: 0;
  }

  .smaller-paragraph {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.7rem;
  }

  .social-icons {
    font-size: 1.2rem;
    gap: 10px;
  }
}

/*! WHY ENGLISH STYLES */
.why_english {
  height: auto;
  padding-bottom: 0;
}

.why_english .extra-large-title {
  color: #00247d;
  margin-bottom: 0;
  opacity: 1;
}
