<mat-card class="large-card" [ngClass]="customClass" [ngStyle]="customStyle">
  <mat-card-header *ngIf="showHeader">
    <mat-card-title class="extra-large-title" [ngStyle]="customStyle">{{
      title
    }}</mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="showHeader" class="large-paragraph">
    {{ subTitle }}
  </mat-card-content>

  <mat-card-content *ngIf="showText" class="smaller-paragraph">
    {{ text }}
  </mat-card-content>

  <div *ngIf="showButton" class="button-container">
    <button mat-button class="btn" (click)="onButtonClick()">
      {{ buttonLabel }}
    </button>
  </div>

  <div *ngIf="showSocialIcons" class="social-icons">
    <div class="facebook"><i class="fa-brands fa-facebook"></i></div>
    <div class="linkedin"><i class="fa-brands fa-linkedin"></i></div>
    <div class="instagram"><i class="fa-brands fa-instagram"></i></div>
  </div>
</mat-card>
