<section class="about-section">
  <div class="container">
    <div class="about-text animate-on-scroll">
      <div class="headers">
        <h1>Who we are?</h1>
        <p>
          Welcome to LinguaPro Hub, your gateway to mastering the English
          language! At LinguaPro Hub, we're passionate about helping individuals
          from all walks of life achieve fluency in English through immersive
          learning experiences.
        </p>
      </div>
    </div>

    <div class="about-content">
      <mat-card *ngFor="let item of data" class="animate-on-scroll">
        <mat-card-footer>
          <mat-card-title> {{ item.title }}</mat-card-title>
          <mat-card-subtitle>{{ item.text }}</mat-card-subtitle>
        </mat-card-footer>
        <mat-card-content>
          <img alt="image" class="card-image" src="{{ item.image }}" />
          <mat-card-header>
            <mat-card-title>{{ item.title }}</mat-card-title>
          </mat-card-header>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
