.about-section {
  padding: 50px 0;
  color: gray;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  justify-content: flex-start;
  width: 50%;
  text-align: start;
}

.headers h1 {
  font-size: 4rem;
  font-weight: bold;
}

.headers p {
  font-size: 1rem;
  line-height: 2rem;
}

.about-text {
  margin-bottom: 40px;
  text-align: center;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

mat-card {
  flex-basis: calc(50% - 20px);
  background: linear-gradient(-225deg, #22e1ff 0%, #1d8fe1 48%, #625eb1 100%);
  border-radius: 12px;
  color: white;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    opacity 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  opacity: 0.5;
  min-height: 400px;
}

mat-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

mat-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Make the footer cover the full height */
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.9) 0%,
    rgba(220, 235, 255, 0.5) 74.6%
  );
  padding: 10px;
  text-align: center;
  transition: opacity 0.3s ease-in-out, transform 0.6s ease-in-out;
  opacity: 0;
  transform: translateY(100%); /* Hide the footer initially */
}
mat-card-footer mat-card-title,
mat-card-footer mat-card-subtitle {
  color: #4c516d;
}

mat-card:hover mat-card-footer {
  opacity: 1;
  transform: translateY(0); /* Move the footer to cover the card */
}

mat-card:hover mat-card-content {
  opacity: 0; /* Hide content when footer is visible */
}

mat-card-header {
  text-align: center;
}

mat-card-title {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}

mat-card-subtitle {
  font-size: 14px;
  color: white;
  font-weight: normal;
  padding: 20px;
  text-align: justify;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 20px;
}

.button {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 20px;
  padding: 8px 16px;
  text-transform: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.card-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }

  mat-card {
    flex-basis: calc(100% - 20px);
  }

  mat-card-title {
    font-size: 14px;
  }

  mat-card-subtitle {
    font-size: 12px;
    line-height: 1.5;
  }

  .headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .headers h1,
  p {
    font-size: 2rem;
  }
}

/* Animation Styles */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.9s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}
