<h1>Coming Soon!</h1>
<div class="card-container">
  <div class="card" *ngFor="let student of students">
    <img src="../../../assets/profile-icon.jpg" alt="student-image" />
    <div class="card-body">
      <h3>{{ student.firstName }} {{ student.lastName }}</h3>
      <p>{{ student.email }}</p>
    </div>
  </div>
</div>
