.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  justify-items: center;
  padding: 1rem;
}

.card {
  width: 100%;
  max-width: 240px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  background-color: #fff;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-body {
  padding: 12px;
  text-align: center;
}

.card-body h3 {
  margin: 0.5rem 0 0.25rem;
  font-size: 1.2rem;
  color: #333;
}

.card-body p {
  margin: 0;
  font-size: 0.9rem;
  color: #777;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
