.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.error-container p {
  margin: 0;
}

.error-code {
  font-size: 5rem;
  font-weight: bold;
  color: #c8102e;
  padding-bottom: 40px;
}

.error-message {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #c8102e;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  background-color: #a00c24;
  cursor: pointer;
}

@media (max-width: 767px) {
  .error-code {
    font-size: 3rem;
  }

  .error-message {
    font-size: 1.2rem;
  }

  .btn {
    width: auto;
    padding: 12px 24px;
  }
}
