<mat-card [ngClass]="customClass" [ngStyle]="customStyle">
  <mat-card-content *ngIf="showImage" class="full-width-height">
    <img [src]="image" alt="image" class="card-image" />
  </mat-card-content>

  <mat-card-header *ngIf="showHeader" class="extra-large-title">
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="showSubtitle" class="large-paragraph">
    {{ subTitle }}
  </mat-card-content>

  <mat-card-content *ngIf="showText" class="smaller-paragraph">
    {{ text }}
  </mat-card-content>

  <mat-card-actions *ngIf="showButton" class="button-container">
    <button mat-button>Learn More</button>
  </mat-card-actions>
</mat-card>
