/*! HOME PAGE STYLES */

.home-small-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f5dc;
  box-shadow: 0px 5px 15px rgba(245, 245, 220, 0.5);
  border-radius: 15px;
  width: 100%;
  height: 500px;
  position: relative;
}

.mat-card-title {
  z-index: 2;
}

.mat-card-content {
  z-index: 2;
}

.button-container {
  display: flex;
  justify-content: center;
  z-index: 2;
}

/**! BULLETIN CARD */

.bulletin_card {
  background-color: #c8102e;
  color: white;
  justify-content: center;
  gap: 2rem;
}

.bulletin_card mat-card-title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.bulletin_card .large-paragraph {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.bulletin_card .smaller-paragraph {
  padding: 1rem;
  text-align: center;
  font-size: 16px;
  line-height: 2;
}

.bulletin_card button {
  padding: 10px;
  width: 150px;
  font-size: 0.8rem;
  background-color: #00247d;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

/**! WHY ENGLISH CARD */

.why_english_card {
  padding-top: 1rem;
  text-align: center;
  font-size: 16px;
  line-height: 2;
  color: #00247d;
  color: rgba(0, 36, 125, 0.5);
  padding: 1rem;
}

.why_english_card mat-card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #00247d;
  padding-bottom: 1.5rem;
}

@media (max-width: 1024px) {
  .bulletin_card mat-card-title {
    font-size: 3rem;
  }

  .bulletin_card .large-paragraph {
    font-size: 0.8rem;
  }

  .bulletin_card .smaller-paragraph {
    font-size: 0.8rem;
  }

  .bulletin_card button {
    padding: 8px;
    font-size: 0.7rem;
  }

  .why_english_card mat-card-title {
    font-size: 1.5rem;
  }

  .why_english_card {
    font-size: 14px;
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .home-small-card {
    width: auto;
    height: auto;
    padding: 10px;
  }

  .bulletin_card mat-card-title {
    font-size: 2rem;
  }

  .bulletin_card .large-paragraph {
    font-size: 0.7rem;
  }

  .bulletin_card .smaller-paragraph {
    font-size: 0.7rem;
  }

  .bulletin_card button {
    padding: 6px;
    font-size: 0.6rem;
  }

  .why_english_card mat-card-title {
    font-size: 1.2rem;
  }

  .why_english_card {
    font-size: 12px;
    padding: 0.3rem;
  }
}
