<section class="dashboard-section">
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="!isMobile">
      <!-- Toggle sidebar based on screen size -->
      <ul>
        <li>
          <a routerLink="/classroom/courses">
            <mat-icon>turned_in</mat-icon>Courses</a
          >
        </li>
        <li>
          <a routerLink="/classroom/students">
            <mat-icon>account_circle</mat-icon>Students</a
          >
        </li>
      </ul>
    </mat-drawer>
    <mat-drawer-content>
      <!-- Display a navbar below the cards if on mobile -->
      <nav *ngIf="isMobile" class="mobile-navbar">
        <a routerLink="/classroom/courses">
          <mat-icon>turned_in</mat-icon>Courses
        </a>
        <a routerLink="/classroom/students">
          <mat-icon>account_circle</mat-icon>Students
        </a>
      </nav>

      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</section>
