.dashboard-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.dashboard {
  width: 100%;
  height: 100%;
}

.example-container {
  height: 100%;
}

mat-drawer-container {
  background: inherit;
  height: 100%;
}

mat-drawer {
  width: 250px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-drawer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

mat-drawer li {
  margin: 0;
}

mat-drawer a {
  padding: 15px 20px;
  margin: 1rem 0;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  color: #00247d;
}
mat-drawer a:hover {
  background-color: inherit;
  color: blue;
}

mat-drawer a.active-link {
  background-color: inherit;
  color: blue;
}

mat-drawer-content > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

mat-drawer-content {
  height: 100%;
  padding: 25px;
  background: inherit;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* For Webkit browsers like Chrome and Safari */
mat-drawer-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

button:hover {
  background-color: #3700b3;
}

.mat-drawer-container {
  width: 100%;
}

/*! mobile navbar */

.mobile-navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 70px;
}

.mobile-navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}

.mobile-navbar a mat-icon {
  margin-right: 5px;
}

@media only screen and (max-width: 680px) {
  .dashboard-section {
    justify-content: flex-start;
  }

  mat-drawer {
    position: fixed;
    z-index: 2;
  }

  mat-drawer-content {
    padding-top: 10px;
  }

  mat-drawer-content > * {
    padding-top: 20px;
    font-weight: normal;
    color: gray;
  }
}
