<app-loader *ngIf="!isFormVisible" />
<div class="wrapper fadeInDown" *ngIf="isFormVisible">
  <div id="formContent">
    <h2 class="active">Sign Up</h2>
    <div class="fadeIn first">
      <img src="../../../assets/profile-icon.jpg" id="icon" alt="User Icon" />
    </div>

    <form #RegisterForm="ngForm" (ngSubmit)="onRegisterSubmit(RegisterForm)">
      <input
        type="text"
        id="firstName"
        class="fadeIn second"
        name="firstName"
        placeholder="First Name"
        ngModel
      />
      <input
        type="text"
        id="lastName"
        class="fadeIn second"
        name="lastName"
        placeholder="Last Name"
        ngModel
      />
      <input
        type="email"
        id="email"
        class="fadeIn second"
        name="email"
        placeholder="Email"
        ngModel
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="Password"
        ngModel
      />
      <input type="submit" class="fadeIn fourth" id="submit" value="Submit" />
      <div style="padding: 0.5rem">
        Already have an account?
        <p style="cursor: pointer; color: #c8102e" routerLink="/auth/login">
          *SIGN IN
        </p>
      </div>
    </form>

    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</div>
