@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  min-height: 100vh;
  /* background: purple; */
}

/* color: #00247d; British flag blue */
/* color: #c8102e;  British flag red*/
/* color: #ff4433; Red Orange */
