.about-section {
  padding: 50px 0;
  color: gray;
  /* background-color: #f9f9f9; */
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  justify-content: flex-start;
  width: 50%;
  text-align: start;
}

.headers h1 {
  font-size: 4rem;
  font-weight: bold;
}

.headers p {
  font-size: 1rem;
  line-height: 2rem;
}

.about-text {
  margin-bottom: 40px;
  text-align: center;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

mat-card {
  flex-basis: calc(50% - 20px);
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  border-radius: 12px;
  color: gray;
  trcolor: #00247d;
  ansition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
}

mat-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: gray;
}

mat-card-header {
  text-align: center;
  margin-bottom: 20px;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.position {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: gray;
}

mat-card-subtitle {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: gray;
}

mat-card-footer > * {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  color: gray;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 20px;
}

.button {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 20px;
  padding: 8px 16px;
  text-transform: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.card-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }

  mat-card {
    flex-basis: calc(100% - 20px);
  }

  mat-card-title {
    font-size: 1.2rem;
  }

  mat-card-subtitle {
    font-size: 0.9rem;
  }

  .headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .headers h1,
  p {
    font-size: 2rem;
  }
}

/* Animation Styles */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.9s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}
