<section class="about-section">
  <div class="container">
    <div class="about-text animate-on-scroll">
      <div class="headers">
        <h1>Our Team</h1>
        <p>
          At LinguaPro Hub, our team is comprised of dedicated language
          enthusiasts who are committed to helping you achieve your English
          language goals. With a diverse range of expertise and a passion for
          teaching, our instructors are here to provide you with personalized
          guidance and support every step of the way.
        </p>
      </div>
    </div>

    <div class="about-content">
      <mat-card *ngFor="let item of data" class="animate-on-scroll">
        <mat-card-content>
          <img alt="image" class="card-image" src="{{ item.image }}" />
          <mat-card-header>
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle class="position">{{
              item.position
            }}</mat-card-subtitle>
            <mat-card-subtitle>{{ item.bio }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card-content>

        <mat-card-footer>
          <mat-card-subtitle> {{ item.contacts }}</mat-card-subtitle>
          <mat-card-subtitle> {{ item.phone }}</mat-card-subtitle>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</section>
