<app-loader *ngIf="!isFormVisible"></app-loader>
<div class="wrapper fadeInDown" *ngIf="isFormVisible">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active">Sign In</h2>
    <!-- Icon -->
    <!-- <div class="fadeIn first">
      <img src="../../../assets/profile-icon.jpg" id="icon" alt="User Icon" />
    </div> -->
    <div class="auto-login">
      <button class="auto-login-btn" (click)="autoLoginUser()">
        <strong>USER</strong> AUTO SIGN IN
      </button>
      <button class="auto-login-btn" (click)="autoLoginTeacher()">
        <strong>TEACHER</strong> AUTO SIGN IN
      </button>
      <button class="auto-login-btn" (click)="autoLoginAdmin()">
        <strong>ADMIN</strong> AUTO SIGN IN
      </button>
    </div>

    <!-- Login Form -->
    <form #LogInForm="ngForm" (ngSubmit)="onLoginSubmit(LogInForm)">
      <input
        type="email"
        id="email"
        class="fadeIn second"
        name="email"
        placeholder="email"
        ngModel
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="password"
        ngModel
      />
      <input type="submit" class="fadeIn fourth" id="submit" value="SUBMIT" />
    </form>
    <div style="padding: 0.5rem">
      Don't have an account?
      <p style="cursor: pointer; color: #c8102e" routerLink="/auth/register">
        *SIGN UP
      </p>
    </div>
  </div>
</div>
