mat-card-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.button {
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wrapper button:nth-child(1) {
  background: inherit;
  color: blue;
}

.btn-wrapper button:nth-child(2) {
  background-color: red;
}

.subtitle-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
}

.subtitle {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 8px;
  color: #00247d;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  gap: 10px;
}

.subtitle .icon {
  font-size: 1.2rem;
  color: #007bff;
}

.subtitle strong {
  flex: 1;
  font-weight: 500;
  text-transform: capitalize;
}

.subtitle:hover {
  background-color: #e0e0e0;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.subtitle-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 15px 20px;
  border-radius: 8px;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: #4c516d;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  gap: 10px;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  mat-card-content {
    flex-direction: column;
    align-items: center;
  }

  .subtitle,
  .subtitle-info {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
