<mat-card-content>
  <div class="subtitle-wrapper">
    <div class="subtitle-info">
      <mat-icon class="icon">people</mat-icon>
      <strong>General Info</strong>
    </div>
    <div class="subtitle">
      <mat-icon class="icon">school</mat-icon>
      <strong>{{ course.name }}</strong>
    </div>
    <div class="subtitle">
      <mat-icon class="icon">person</mat-icon>
      <strong>{{ course.teacher }}</strong>
    </div>
    <div class="subtitle">
      <mat-icon class="icon">category</mat-icon>
      <strong>{{ course.type }}</strong>
    </div>
    <div class="subtitle">
      <mat-icon class="icon">bar_chart</mat-icon>
      <strong>{{ course.level }}</strong>
    </div>
  </div>
  <div class="subtitle-wrapper">
    <div class="subtitle-info">
      <mat-icon>calendar_today</mat-icon>
      <strong>Schedule</strong>
    </div>
    <div class="subtitle">
      <mat-icon class="icon">date_range</mat-icon>
      <strong>{{ course.startDate }}</strong>
    </div>
    <div class="subtitle">
      <mat-icon class="icon">event</mat-icon>
      <strong>{{ course.endDate }}</strong>
    </div>
  </div>

  <div class="subtitle-wrapper">
    <div class="subtitle-info">
      <mat-icon class="icon">people</mat-icon>
      <strong>Enrolled Students</strong>
    </div>

    <div class="subtitle">
      <mat-icon class="icon">group</mat-icon>
      <strong>{{ course.students?.length || 0 }} students</strong>
    </div>
    <div class="subtitle" *ngFor="let student of students; let i = index">
      <mat-icon class="icon">person</mat-icon>
      <strong>{{ student.firstName }} {{ student.lastName }}</strong>
    </div>
  </div>
</mat-card-content>
