.card {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: gray;
  margin: 20px;
  background: #fff;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.info {
  flex: 2;
  padding: 30px;
}

h3 {
  margin-top: 0;
  padding-bottom: 20px;
  font-size: 2rem;
  color: #4c516d;
  font-weight: bold;
}

.info p {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 1rem;
}

.info button {
  padding: 12px 25px;
  background-color: #4c516d;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.info button:hover {
  background-color: #0056b3;
}

.image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #e0e0e0 0%, #f5f5f5 100%);
  padding: 20px;
}

.image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(1.05);
}

.left-image {
  flex-direction: row;
}

.left-image .info {
  margin-left: 20px;
}

.right-image {
  flex-direction: row-reverse;
}

.right-image .info {
  margin-right: 20px;
}

/* Animation Styles */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .image {
    order: -1; /* Move image to the top on smaller screens */
  }

  .info {
    padding: 20px;
  }

  .left-image .info,
  .right-image .info {
    margin: 0;
  }

  h3 {
    font-size: 1.5rem;
  }

  .info p {
    margin-bottom: 15px;
    font-size: 0.9rem;
  }

  .info button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .card {
    flex: 1 1 calc(33.333% - 40px);
    margin: 10px;
  }
}
