<div class="card animate-on-scroll left-image" [ngClass]="cardClass">
  <div class="info">
    <h3>{{ course.title }}</h3>
    <p>{{ course.desc }}</p>
    <button>Learn More</button>
  </div>
  <div class="image">
    <img src="{{ course.url }}" alt="English Course Image" />
  </div>
</div>
