.mat-card {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.button {
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wrapper button:nth-child(1) {
  background-color: blue;
}

.btn-wrapper button:nth-child(2) {
  background-color: red;
}

.subtitle-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 8px;
  color: #00247d;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  gap: 10px;
}

.subtitle .icon {
  font-size: 1.2rem;
  color: #007bff;
}

.subtitle strong {
  flex: 1;
  font-weight: 500;
}

.subtitle:hover {
  background-color: #f4f4f4;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  color: gray;
}

.subtitle-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 15px 20px;
  border-radius: 8px;
  color: #00247d;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: #f4f4f4;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  gap: 10px;
  text-transform: uppercase;
}

.subtitle input,
.subtitle select {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  color: inherit;
  font-size: inherit;
  background: inherit;
  box-shadow: none;
  transition: border-color 0.3s ease;
}

.subtitle select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="#00247d" d="M2 0L0 2h4z"/></svg>'); /* Custom dropdown arrow */
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 10px;
  padding-right: 30px;
}

.subtitle input:focus,
.subtitle select:focus {
  outline: none;
  border-bottom-color: #007bff;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected {
  text-decoration: line-through;
  text-transform: italic;
  color: gray;
}

.checkbox-student {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.checked {
  color: green;
}
@media (max-width: 1000px) {
  .mat-card {
    flex-direction: column;
    align-items: center;
  }

  .subtitle,
  .subtitle-info {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
