<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
  <mat-card-content class="mat-card">
    <!-- !GENERAL INFO -->
    <div class="subtitle-wrapper">
      <div class="subtitle-info">
        <mat-icon class="icon">people</mat-icon>
        <strong>General Info</strong>
      </div>
      <div class="subtitle">
        <mat-icon class="icon">school</mat-icon>
        <div
          *ngIf="
            courseForm.get('name')?.touched && courseForm.get('name')?.invalid
          "
        >
          <p
            class="error"
            style="color: #c8102e"
            *ngIf="courseForm.get('name')?.errors?.['required']"
          >
            Course name required!
          </p>
          <p
            class="error"
            style="color: #c8102e"
            *ngIf="courseForm.get('name')?.errors?.['minlength']"
          >
            Course name must at least 7 chars!
          </p>
        </div>
        <input
          type="text"
          formControlName="name"
          [value]="course?.name"
          id="name"
          name="name"
        />
      </div>
      <div class="subtitle">
        <mat-icon class="icon">person</mat-icon>
        <div
          *ngIf="
            courseForm.get('teacher')?.touched &&
            courseForm.get('teacher')?.invalid
          "
        >
          <p
            class="error"
            style="color: #c8102e"
            *ngIf="courseForm.get('teacher')?.errors?.['required']"
          >
            Course teacher required!
          </p>
        </div>
        <select
          formControlName="teacher"
          [value]="course?.teacher"
          id="teacher"
          name="teacher"
        >
          <option
            *ngFor="let teacher of teachers"
            [ngValue]="teacher.firstName + ' ' + teacher.lastName"
          >
            {{ teacher.firstName }} {{ teacher.lastName }}
          </option>
        </select>
      </div>
      <div class="subtitle">
        <mat-icon class="icon">category</mat-icon>
        <div
          *ngIf="
            courseForm.get('type')?.touched && courseForm.get('type')?.invalid
          "
        >
          <p
            class="error"
            style="color: #c8102e"
            *ngIf="courseForm.get('type')?.errors?.['required']"
          >
            Course type required!
          </p>
        </div>
        <select
          formControlName="type"
          [value]="course?.type"
          id="type"
          name="type"
        >
          <option value="kids">Kids</option>
          <option value="adults">Adults</option>
          <option value="corporate">Corporate</option>
        </select>
      </div>
      <div class="subtitle">
        <mat-icon class="icon">bar_chart</mat-icon>
        <div
          *ngIf="
            courseForm.get('level')?.touched && courseForm.get('level')?.invalid
          "
        >
          <p
            class="error"
            style="color: #c8102e"
            *ngIf="courseForm.get('level')?.errors?.['required']"
          >
            Course level required!
          </p>
        </div>
        <select
          formControlName="level"
          [value]="course?.level"
          id="level"
          name="level"
        >
          <option value="beginners">Beginners</option>
          <option value="intermediate">Intermediate</option>
          <option value="advanced">Advanced</option>
          <option value="business">Business</option>
          <option value="general">General</option>
        </select>
      </div>
    </div>

    <!-- !SCHEDULE -->
    <div class="subtitle-wrapper">
      <div class="subtitle-info">
        <mat-icon>calendar_today</mat-icon>
        <strong>Schedule</strong>
      </div>

      <div class="subtitle">
        <mat-icon class="icon">date_range</mat-icon>
        <strong>
          <input
            name="startDate"
            type="date"
            formControlName="startDate"
            [value]="course?.startDate"
            id="startDate"
          />
        </strong>
      </div>
      <div class="subtitle">
        <mat-icon class="icon">event</mat-icon>
        <strong>
          <input
            name="endDate"
            type="date"
            formControlName="endDate"
            [value]="course?.endDate"
            id="endDate"
          />
        </strong>
      </div>
    </div>

    <!--! ENROLLED -->
    <div class="subtitle-wrapper">
      <div class="subtitle-info">
        <mat-icon class="icon">people</mat-icon>
        <strong>Enrolled Students</strong>
      </div>
      <div class="subtitle">
        <mat-icon class="icon">group</mat-icon>
        <strong>{{ students.length || 0 }} students</strong>
      </div>
      <div class="subtitle" *ngFor="let student of students; let i = index">
        <mat-icon class="icon">person</mat-icon>
        <strong>
          <span class="checkbox">
            <p [ngClass]="{ selected: selectedIndexes.includes(i) }">
              {{ student.firstName }} {{ student.lastName }}
            </p>
            <p
              class="checkbox-student"
              [ngClass]="{ checked: selectedIndexes.includes(i) }"
              (click)="deleteStudentHandler(student.id, i, $event)"
            >
              <span *ngIf="selectedIndexes.includes(i)">✓</span>
              <span *ngIf="!selectedIndexes.includes(i)">✗</span>
            </p>
          </span>
        </strong>
      </div>
    </div>
  </mat-card-content>
</form>
