<!--! CREATE COURSE FORM -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Create Course</mat-card-title>
    <mat-card-actions class="btn-wrapper">
      <button mat-button class="button back" [routerLink]="['..']">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-header>

  <mat-card-content>
    <form #addClass="ngForm" (ngSubmit)="addNewClass(addClass)">
      <!--!  COURSE NAME -->
      <div class="form-group">
        <label for="name">Course Name:</label>
        <!--* VALIDATORS -->
        <ng-container *ngIf="inputName.touched">
          <p class="error" *ngIf="inputName.errors?.['required']">
            Course name is required!
          </p>
          <p class="error" *ngIf="inputName.errors?.['minlength']">
            Course name must be at least 7 chars!
          </p>
          <p class="error" *ngIf="validateCourseName(inputName.value)">
            Course name already exists!
          </p>
        </ng-container>
        <input
          type="text"
          id="name"
          name="name"
          #inputName="ngModel"
          required
          minlength="7"
          ngModel
        />
      </div>

      <!--!  COURSE TEACHER -->
      <div class="form-group">
        <label for="teacher">Teacher:</label>
        <!--* VALIDATORS -->
        <ng-container *ngIf="inputTeacher.touched">
          <p class="error" *ngIf="inputTeacher.errors?.['required']">
            Selecting teacher is required!
          </p>
        </ng-container>
        <select
          id="teacher"
          name="teacher"
          #inputTeacher="ngModel"
          required
          ngModel
        >
          <option value="">Choose teacher</option>
          <option *ngFor="let teacher of teachers">
            {{ teacher.firstName }} {{ teacher.lastName }}
          </option>
        </select>
      </div>

      <!--!  COURSE TYPE -->
      <div class="form-group">
        <label for="type">Type:</label>
        <!--* VALIDATORS -->
        <ng-container *ngIf="inputType.touched">
          <p class="error" *ngIf="inputType.errors?.['required']">
            Selecting course type is required!
          </p>
        </ng-container>
        <select id="type" name="type" #inputType="ngModel" required ngModel>
          <option value="">Choose type</option>
          <option value="kids">Kids</option>
          <option value="adults">Adults</option>
          <option value="corporate">Corporate</option>
        </select>
      </div>

      <!--!  COURSE LEVEL -->
      <div class="form-group">
        <label for="level">Level:</label>
        <!--* VALIDATORS -->
        <ng-container *ngIf="inputLevel.touched">
          <p class="error" *ngIf="inputLevel.errors?.['required']">
            Course type teacher is required!
          </p>
        </ng-container>
        <select id="level" name="level" #inputLevel="ngModel" required ngModel>
          <option value="">Choose level</option>
          <option value="beginners">Beginners</option>
          <option value="intermediate">Intermediate</option>
          <option value="advanced">Advanced</option>
          <option value="business">Business</option>
          <option value="general">General</option>
        </select>
      </div>

      <!--!  START DATE -->
      <div class="form-group">
        <label for="startDate">Start Date:</label>
        <!--* VALIDATORS -->
        <ng-container *ngIf="inputEndDate.touched">
          <p class="error" *ngIf="inputEndDate.errors?.['required']">
            Start date is required!
          </p>
          <p
            class="error"
            *ngIf="
              validateDates(inputStartDate.value, inputEndDate.value) !== true
            "
          >
            {{ validateDates(inputStartDate.value, inputEndDate.value) }}
          </p>
        </ng-container>
        <input
          type="date"
          id="startDate"
          name="startDate"
          #inputStartDate="ngModel"
          required
          ngModel
        />
      </div>

      <!--!  END DATE -->
      <div class="form-group">
        <label for="endDate">End Date:</label>
        <!--* VALIDATORS -->
        <ng-container *ngIf="inputEndDate.touched">
          <p class="error" *ngIf="inputEndDate.errors?.['required']">
            End date is required!
          </p>
          <p
            class="error"
            *ngIf="
              validateDates(inputStartDate.value, inputEndDate.value) !== true
            "
          >
            {{ validateDates(inputStartDate.value, inputEndDate.value) }}
          </p>
        </ng-container>
        <input
          type="date"
          id="endDate"
          name="endDate"
          #inputEndDate="ngModel"
          required
          ngModel
        />
      </div>
      <div class="btn-wrapper">
        <button type="submit" class="button save">
          <mat-icon>done</mat-icon> SUBMIT
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
