.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(280px, 1fr)
  ); /* Adjusted min width for smaller screens */
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.small-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ff4433;
  font-weight: bold;
  background: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0.9;
}

.small-card:hover {
  transform: translateY(-5px); /* Adjusted hover effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjusted shadow on hover */
  opacity: 1;
}

.small-card img {
  width: 100%;
  height: 200px; /* Adjusted height for the image */
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.small-card mat-card-content {
  padding: 16px;
}

.small-card mat-card-actions {
  padding: 8px 16px;
}

.small-card mat-card-title,
.small-card mat-card-subtitle {
  font-weight: bold;
}

.small-card mat-card-subtitle {
  color: #3d426b;
}

.enter-classroom-btn {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  color: #3d426b;
  background-color: inherit;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.enter-classroom-btn:hover {
  background-color: #3d426b;
  color: #fff;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
