<div class="grid-container">
  <ng-container *ngFor="let course of courses">
    <div *ngIf="isUserEnrolledOrTeacher(course)" class="container">
      <mat-card class="small-card">
        <img
          mat-card-image
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkBtgQ7b1tGZg6ysKzCdht0GF1e97o2hDv2qoeklrmGM10m_jnBW5uQpTmCSC8J6wkTG8&usqp=CAU"
          alt="course-image"
        />
        <section>
          <mat-card-content>
            <mat-card-title>{{ course.name }}</mat-card-title>
            <mat-card-subtitle>{{ course.teacher }}</mat-card-subtitle>
          </mat-card-content>
          <mat-card-actions>
            <button
              class="enter-classroom-btn"
              (click)="navigateToClassroom(course.id)"
            >
              ENTER CLASSROOM
            </button>
          </mat-card-actions>
        </section>
      </mat-card>
    </div>
  </ng-container>
</div>
