<div class="container">
  <div *ngFor="let course of coursesData; let i = index" class="animated">
    <div class="animate-on-scroll">
      <app-card [course]="course" [cardClass]="getCardClass(i)"></app-card>
    </div>
  </div>
</div>
