.mat-table {
  width: 100%;
  border-collapse: collapse;
  color: #4c516d;
  border: 1px solid #ccc;
}

.mat-table th,
.mat-table td {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.mat-table th {
  background-color: inherit;
}

.mat-table thead th {
  background-color: #4c516d;
  color: #fff;
}

.mat-table td:last-child {
  text-align: center;
}

/* Apply zebra striping */
.mat-table tr:nth-child(even) {
  background-color: #f5f5dc;
}

.edit-cell button {
  display: flex;
  align-items: center;
  background: inherit;
  border-radius: 10px;
  font-weight: bold;
  padding: 5px 10px;
  color: #3ac867;
}

.edit-cell button:hover {
  color: #4c516d;
}

.wrapper {
  display: inline-block;
}

.wrapper form {
  display: inline-flex;
  align-items: center;
}

.wrapper input[type="text"] {
  max-width: 50px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.wrapper button {
  padding: 6px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.wrapper button:hover {
  background-color: #0056b3;
}

.general {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}

.general h1 {
  color: #4c516d;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .mat-table th,
  .mat-table td {
    display: block;
    width: 100%;
    font-weight: bold;
    padding: 5px 10px;
  }

  .mat-table td:last-child {
    text-align: right;
  }

  .mat-table td:not(:last-child) {
    border-bottom: none;
  }

  .large-screen-only {
    display: none;
  }

  .general {
    justify-content: center;
  }

  .dropdown button.side-menu-items {
    width: 100%;
    text-align: center;
  }

  .dropdown-content {
    width: 100%;
  }

  .general h1 {
    font-size: 18px;
  }
}

/* Paginator Styles */

mat-paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;

  color: #4c516d;
  margin-top: 10px;
  font-weight: bold;
  border-bottom: 1px solid;
  border-color: #4c516d;
}

/* Paginator Item Styling */

mat-paginator mat-paginator-page-size,
mat-paginator mat-paginator-range-actions {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}

mat-paginator mat-paginator-page-size-label,
mat-paginator mat-paginator-range-label {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

mat-paginator mat-paginator-page-size-select {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
}

mat-paginator mat-paginator-page-size-select:focus {
  border-color: #fff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
  outline: none;
  color: #fff;
}

/* Paginator Buttons Styling */

mat-paginator mat-paginator-navigation-button {
  color: #fff;
  padding: 4px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

mat-paginator mat-paginator-navigation-button:hover {
  background-color: #007bff;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

mat-paginator mat-paginator-navigation-button[disabled] {
  color: #fff;
  box-shadow: none;
}

mat-paginator mat-paginator-icon {
  font-size: 16px;
  color: #fff;
}

/* Compact Styling */

mat-paginator {
  font-size: 14px;
}

mat-paginator mat-paginator-page-size-select,
mat-paginator mat-paginator-range-label,
mat-paginator mat-paginator-page-size-label {
  font-size: 14px;
  color: #fff;
}

mat-paginator mat-paginator-navigation-button {
  width: 18px;
  height: 18px;
}
