<div class="general">
  <h1>Courses` Board</h1>
</div>
<app-search (searchQuery)="filterCourses($event)" />

<!--! course-cards -->

<table class="mat-table">
  <thead class="large-screen-only">
    <tr>
      <th>Course Name</th>
      <th>Teacher</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of filteredCourses">
      <td>{{ course.name }}</td>
      <td>{{ course.teacher }}</td>
      <td>{{ course.startDate }}</td>
      <td>{{ course.endDate }}</td>
      <td class="edit-cell">
        <button
          mat-icon-button
          [routerLink]="['/dashboard/courses', course.id]"
        >
          <mat-icon>settings</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!--! paginator -->
<mat-paginator
  [length]="totalCourses"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true"
  [pageIndex]="currentPage"
  (page)="handlePageEvent($event)"
></mat-paginator>
