.course-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 20px;
  background: linear-gradient(
    to top left,
    rgba(255, 255, 249, 0.9) 0%,
    rgba(200, 220, 255, 0.5) 74.6%
  );
  color: #4c516d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.course-name {
  font-weight: bold;
  color: #4c516d;
  font-size: 24px;
}

.teacher-info {
  font-size: 18px;
  color: #4c516d;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.date p {
  font-size: 16px;

  text-align: flex-end;
}

.date button {
  padding: 8px 16px;
  border: none;
  background: inherit;
  color: #4c516d;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
}

textarea {
  resize: vertical;
}

button {
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Icons */
.mat-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-left: 5px;
  color: #555;
  transition: color 0.3s ease;
}

.mat-icon-button:hover {
  color: #c8102e;
}

/* Edit/Delete Icon Positioning */
.icon-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}
mat-card-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.button {
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wrapper button:nth-child(1) {
  background: red;
}

.btn-wrapper button:nth-child(2) {
  background-color: #4c516d;
}

.subtitle-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subtitle {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 8px;
  color: #00247d;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  gap: 10px;
}

.subtitle .icon {
  font-size: 1.2rem;
  color: #007bff;
}

.subtitle strong {
  flex: 1;
  font-weight: 500;
  text-transform: capitalize;
}

.subtitle:hover {
  background-color: #e0e0e0;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.subtitle-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 15px 20px;
  border-radius: 8px;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: #4c516d;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  gap: 10px;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  mat-card-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .subtitle,
  .subtitle-info {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .subtitle-wrapper {
    width: 100%;
  }
}

/*! FORM */

.theme-form {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 70%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: #00247d;
}
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 5px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #00247d;
}

.form-group select,
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-group select::placeholder,
.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #bbb;
}

.error {
  color: #f08000;
  font-size: 0.8em;
  margin-top: 5px;
  width: 100%;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.save {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save:hover {
  background-color: #0056b3;
}
.theme-button {
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.theme-button:hover {
  background-color: #5a6268;
}
