<div class="course-info">
  <div class="general-info">
    <h2 class="course-name">{{ course?.name }}</h2>
    <p class="teacher-info">{{ course?.teacher }}</p>
  </div>
  <div class="date">
    <p>{{ currentDate | date : "fullDate" }}</p>
    <span>
      <button [routerLink]="['..']"><mat-icon>reply</mat-icon></button>
      <button *ngIf="userName === course?.teacher" (click)="toggleThemeInput()">
        <mat-icon>queue</mat-icon>
      </button></span
    >
  </div>
</div>

<!--! ADD THEME FORM-->
<div class="theme-form" *ngIf="userName === course?.teacher && showThemeInput">
  <form [formGroup]="themeForm" (ngSubmit)="addNewTheme(themeForm)">
    <h3 class="form-title">Add Theme</h3>
    <div class="form-group">
      <label for="title">Lesson:</label>
      <input type="number" id="lesson" formControlName="lesson" />
      <ng-container
        *ngIf="
          themeForm.get('lesson')?.touched && themeForm.get('lesson')?.invalid
        "
      >
        <p class="error" *ngIf="themeForm.get('lesson')?.errors?.['required']">
          Lesson required!
        </p>
      </ng-container>
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        placeholder="Add title.."
        formControlName="title"
      />
      <ng-container
        *ngIf="
          themeForm.get('title')?.touched && themeForm.get('title')?.invalid
        "
      >
        <p class="error" *ngIf="themeForm.get('title')?.errors?.['required']">
          Theme title required!
        </p>
        <p class="error" *ngIf="themeForm.get('title')?.errors?.['minlength']">
          Title must be at least 7 chars!
        </p>
      </ng-container>
    </div>
    <div class="form-group">
      <label for="text">Description:</label>
      <angular-editor
        formControlName="text"
        [config]="editorConfig"
      ></angular-editor>
      <!-- <textarea
        id="text"
        formControlName="text"
        placeholder="Add new theme..."
        class="theme-input"
      ></textarea> -->
      <ng-container
        *ngIf="themeForm.get('text')?.touched && themeForm.get('text')?.invalid"
      >
        <p class="error" *ngIf="themeForm.get('text')?.errors?.['required']">
          Theme text required!
        </p>
        <p class="error" *ngIf="themeForm.get('text')?.errors?.['minlength']">
          Text must be at least 7 chars!
        </p>
      </ng-container>
    </div>
    <div class="form-group">
      <label for="homework">Homework:</label>
      <input
        type="text"
        id="homework"
        placeholder="Add homework.."
        formControlName="homework"
      />
    </div>
    <ng-container
      *ngIf="
        themeForm.get('homework')?.touched && themeForm.get('homework')?.invalid
      "
    >
      <p class="error" *ngIf="themeForm.get('homework')?.errors?.['required']">
        Theme homework required!
      </p>
      <p class="error" *ngIf="themeForm.get('homework')?.errors?.['minlength']">
        Homework must be at least 7 chars!
      </p>
    </ng-container>
    <div class="btn-wrapper">
      <button type="button" class="theme-button" (click)="toggleThemeInput()">
        Cancel
      </button>
      <button type="submit" class="theme-button">Submit</button>
    </div>
  </form>
</div>

<div class="container" *ngIf="course">
  <!--! GENERAL COURSE INFO-->
  <mat-card-content>
    <div class="subtitle-wrapper">
      <div class="subtitle-info">
        <mat-icon class="icon">people</mat-icon>
        <strong>General Info</strong>
      </div>
      <div class="subtitle">
        <mat-icon class="icon">school</mat-icon>
        <strong>{{ course.name }}</strong>
      </div>
      <div class="subtitle">
        <mat-icon class="icon">person</mat-icon>
        <strong>{{ course.teacher }}</strong>
      </div>
      <div class="subtitle">
        <mat-icon class="icon">category</mat-icon>
        <strong>{{ course.type }}</strong>
      </div>
      <div class="subtitle">
        <mat-icon class="icon">bar_chart</mat-icon>
        <strong>{{ course.level }}</strong>
      </div>
    </div>
    <div class="subtitle-wrapper">
      <div class="subtitle-info">
        <mat-icon>calendar_today</mat-icon> <strong>Schedule</strong>
      </div>
      <div class="subtitle">
        <mat-icon class="icon">date_range</mat-icon>
        <strong>{{ course.startDate }}</strong>
      </div>
      <div class="subtitle">
        <mat-icon class="icon">event</mat-icon>
        <strong>{{ course.endDate }}</strong>
      </div>
    </div>

    <div class="subtitle-wrapper">
      <div class="subtitle-info">
        <mat-icon class="icon">school</mat-icon>
        <strong>Enrolled Students</strong>
      </div>

      <div class="subtitle">
        <mat-icon class="icon">people</mat-icon>
        <strong>{{ course.students?.length || 0 }} students</strong>
      </div>
      <div class="subtitle" *ngFor="let student of students; let i = index">
        <mat-icon class="icon">person</mat-icon>
        <strong>{{ student.firstName }} {{ student.lastName }}</strong>
      </div>
    </div>
    <div class="subtitle-wrapper">
      <div class="subtitle-info">
        <mat-icon>question_answer</mat-icon>
        <strong>Chat rooms</strong>
      </div>

      <div
        class="subtitle"
        style="cursor: pointer"
        *ngFor="let theme of themes; let i = index"
        [routerLink]="['/classroom/courses', course.id, theme.id]"
      >
        <mat-icon class="icon"> import_contacts </mat-icon>
        <strong>Lesson {{ theme.lesson }} </strong>
      </div>
    </div>
  </mat-card-content>
</div>
