<section class="dashboard-section">
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="!isMobile">
      <!-- Toggle sidebar based on screen size -->
      <ul>
        <li>
          <a routerLink="/dashboard/users" routerLinkActive="active-link">
            <mat-icon>account_circle</mat-icon> Users</a
          >
        </li>
        <li>
          <a routerLink="/dashboard/courses" routerLinkActive="active-link"
            ><mat-icon>turned_in</mat-icon>Courses</a
          >
        </li>
        <li>
          <a
            routerLink="/dashboard/create-course"
            routerLinkActive="active-link"
            ><mat-icon>settings</mat-icon>Create Course</a
          >
        </li>
        <li>
          <a
            routerLink="/dashboard/assign-student"
            routerLinkActive="active-link"
            ><mat-icon>date_range</mat-icon>Assign Student</a
          >
        </li>
      </ul>
    </mat-drawer>
    <mat-drawer-content>
      <!-- Display a navbar below the cards if on mobile -->
      <nav *ngIf="isMobile" class="mobile-navbar">
        <a routerLink="/dashboard/users">
          <mat-icon>account_circle</mat-icon>
        </a>
        <a routerLink="/dashboard/courses"><mat-icon>turned_in</mat-icon></a>
        <a routerLink="/dashboard/create-course">
          <mat-icon>settings</mat-icon>
        </a>
        <a routerLink="/dashboard/assign-student"
          ><mat-icon>date_range</mat-icon></a
        >
      </nav>

      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</section>
