@import "~@fortawesome/fontawesome-free/css/all.css";
.footer-toolbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #00247d;
  background-color: #f5f5dc;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  align-items: center;
}

.footer-center {
  justify-content: center;
  gap: 20px;
}

.footer-right {
  gap: 10px;
  font-size: 1.5rem;
}

.social-icons {
  gap: 20px;
  cursor: pointer;
}

.facebook {
  color: #4267b2;
}

.linkedin {
  color: #0a66c2;
}

.instagram {
  color: #c32aa3;
}
@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-center {
    flex-direction: column;
    gap: 10px;
  }

  .footer-left {
    margin-bottom: 10px;
  }

  .social-icons {
    gap: 10px;
  }

  .footer-right {
    font-size: 1.2rem;
  }
}
