<div class="footer-toolbar">
  <div class="footer-content">
    <div class="footer-left">
      <div>copyright</div>
      <span>2024 LinguaHub Pro, Inc.</span>
    </div>
    <div class="footer-center">
      <a mat-button href="/">Home</a>
    </div>
    <div class="footer-right social-icons">
      <div class="facebook"><i class="fa-brands fa-facebook"></i></div>
      <div class="linkedin"><i class="fa-brands fa-linkedin"></i></div>
      <div class="instagram"><i class="fa-brands fa-instagram"></i></div>
    </div>
  </div>
</div>
