<div class="course-info">
  <div class="general-info">
    <h2 class="course-name">{{ course?.name }}</h2>
    <p class="teacher-info">{{ course?.teacher }}</p>
  </div>
  <div class="date">
    <p>{{ currentDate | date : "fullDate" }}</p>
    <button [routerLink]="['..']">
      <mat-icon>reply</mat-icon>
    </button>
  </div>
</div>

<div class="container">
  <!--! THEME SECTION -->
  <div class="theme-container">
    <div class="theme-info" *ngIf="!theme?.editMode">
      <div class="theme-header" *ngIf="userName === theme?.author">
        <p class="theme-lesson">Lesson {{ theme?.lesson }}</p>
        <h1 class="theme-title">{{ theme?.title }}</h1>
      </div>
      <h3 class="theme-text" [innerHTML]="theme?.text"></h3>

      <div class="theme-footer">
        <div class="theme-homework">
          <p class="homework">Homework:</p>
          <p>{{ theme?.homework }}</p>
        </div>
        <div class="theme-author-info">
          <p class="theme-author">{{ theme?.author }},</p>
          <p class="theme-added-on">{{ theme?.addedOn | date }}</p>
        </div>
        <span class="actions">
          <button
            *ngIf="userName === theme?.author"
            class="action-icon edit"
            (click)="onToggle(theme!)"
          >
            <mat-icon style="font-size: 18px">edit</mat-icon>
          </button>
          <button
            *ngIf="userName === theme?.author"
            class="action-icon delete"
            (click)="confirmDelete(theme!)"
          >
            <mat-icon style="font-size: 18px">delete</mat-icon>
          </button>
          <button class="action-icon msg" (click)="toggleComments()">
            <span>{{ theme?.comments | keysLength }}</span>
            <mat-icon style="font-size: 18px">question_answer</mat-icon>
          </button>
        </span>
      </div>
    </div>

    <!--! EDIT LESSON -->
    <ng-container *ngIf="theme?.editMode">
      <form [formGroup]="editForm" (ngSubmit)="editTheme(editForm, theme!)">
        <p class="form-title">EDIT THEME</p>
        <div class="theme-info">
          <!-- LESSON -->
          <div class="form-group">
            <label>Lesson</label>
            <input type="number" id="lesson" formControlName="lesson" />
            <ng-container
              *ngIf="
                editForm.get('lesson')?.touched &&
                editForm.get('lesson')?.invalid
              "
            >
              <p
                class="error"
                *ngIf="editForm.get('lesson')?.errors?.['required']"
              >
                Lesson required!
              </p>
            </ng-container>
          </div>

          <!-- TITLE -->
          <div class="form-group">
            <label>Title</label>
            <input
              type="text"
              id="title"
              placeholder="Add title.."
              formControlName="title"
            />
            <ng-container
              *ngIf="
                editForm.get('title')?.touched && editForm.get('title')?.invalid
              "
            >
              <p
                class="error"
                *ngIf="editForm.get('title')?.errors?.['required']"
              >
                Title text required!
              </p>
              <p
                class="error"
                *ngIf="editForm.get('title')?.errors?.['minlength']"
              >
                Title must be at least 2 chars!
              </p>
            </ng-container>
          </div>

          <!-- TEXT -->
          <div class="form-group">
            <label>Text</label>
            <angular-editor
              formControlName="text"
              [config]="editorConfig"
            ></angular-editor>
            <ng-container
              *ngIf="
                editForm.get('text')?.touched && editForm.get('text')?.invalid
              "
            >
              <p
                class="error"
                *ngIf="editForm.get('text')?.errors?.['required']"
              >
                Theme text required!
              </p>
              <p
                class="error"
                *ngIf="editForm.get('text')?.errors?.['minlength']"
              >
                Text must be at least 7 chars!
              </p>
            </ng-container>
          </div>

          <!-- HOMEWORK -->
          <div class="form-group">
            <label>Homework</label>
            <input
              type="text"
              id="homework"
              placeholder="Add homework.."
              formControlName="homework"
            />
            <ng-container
              *ngIf="
                editForm.get('homework')?.touched &&
                editForm.get('homework')?.invalid
              "
            >
              <p
                class="error"
                *ngIf="editForm.get('homework')?.errors?.['required']"
              >
                Homework required!
              </p>
              <p
                class="error"
                *ngIf="editForm.get('homework')?.errors?.['minlength']"
              >
                Homework must be at least 2 chars!
              </p>
            </ng-container>
          </div>

          <!-- BUTTONS -->
          <div class="btn-wrapper">
            <button
              type="button"
              class="theme-button"
              (click)="onToggle(theme!)"
            >
              Cancel
            </button>
            <button type="submit" class="theme-button">Save</button>
          </div>
        </div>
      </form>
    </ng-container>
  </div>

  <!--! COMMENTS SECTION -->

  <app-comment
    *ngIf="theme"
    [userName]="userName"
    [theme]="theme"
    [themeId]="themeId"
    [courseId]="courseId"
    [showComments]="showComments"
    (commentAdded)="onCommentAdded()"
    (commentDeleted)="onCommentDeleted()"
  ></app-comment>
</div>
