/* General Styles */
.course-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 20px;
  background: linear-gradient(
    to top left,
    rgba(255, 255, 249, 0.9) 0%,
    rgba(200, 220, 255, 0.5) 74.6%
  );
  color: #4c516d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.course-name {
  font-size: 24px;
  font-weight: bold;
}

.teacher-info {
  font-size: 18px;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date p {
  font-size: 16px;
}

.date button {
  padding: 8px 16px;
  border: none;
  background: inherit;
  color: #4c516d;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Theme Section */
/* Theme Container */
.theme-container {
  background-color: #f5f5dc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
/* Theme header */
.theme-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.theme-lesson {
  font-size: 18px;
  font-weight: bold;
  color: #4c516d;
}

/* Theme Title */
.theme-title {
  font-size: 24px;
  font-weight: bold;
  color: #4c516d;
  margin-bottom: 15px;
}

/* Theme Text */
.theme-text {
  font-size: 16px;
  color: #555;
  line-height: 1.2;
  margin-bottom: 15px;
  color: #4c516d;
}

/* Theme Homework */
.theme-homework {
  display: flex;
  align-items: center;
  color: #666;
  font-weight: bold;
  gap: 10px;
}

/* Theme Author Info */
.theme-author-info {
  display: flex;
  align-items: center;
  color: #888;
  gap: 5px;
}

/* Theme Footer */
.theme-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Action Icons */
.action-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #999;
  transition: color 0.3s ease;
  font-size: 14px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-weight: bold;
}

.edit:hover {
  color: green;
}

.delete:hover {
  color: red;
}

.msg:hover {
  color: blue;
}

/* Delete Button */
.delete-button {
  padding: 8px 12px;
  background-color: #ff5a5f;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: red;
}

/* Edit Button */
.edit-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: green;
}
.actions {
  display: flex;
  gap: 10px;
}

/* Form Styles */
.post-comment-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: flex-end;
}

form {
  width: 100%;
}
.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: #00247d;
}
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 5px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #00247d;
}

.form-group select,
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-group select::placeholder,
.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #bbb;
}

.error {
  color: #f08000;
  font-size: 0.8em;
  margin-top: 5px;
  width: 100%;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.save {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save:hover {
  background-color: #0056b3;
}

.theme-button {
  padding: 8px 16px;
  background-color: #4c516d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  align-self: end;
}

.theme-button:hover {
  background-color: #5a6268;
}

@media (max-width: 768px) {
  .theme-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
