<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Assign Students</mat-card-title>
      <mat-card-actions class="btn-wrapper">
        <button mat-button class="button back" [routerLink]="['..']">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-header>

    <mat-card-content>
      <form #studentData="ngForm" (ngSubmit)="addStudent(studentData)">
        <!-- CHOOSE COURSE -->
        <div class="form-group">
          <label for="course">Course:</label>
          <ng-container *ngIf="inputCourse.touched">
            <p
              class="error"
              *ngIf="inputCourse.invalid || inputCourse.errors?.['required']"
            >
              Selecting course is required!
            </p>
          </ng-container>
          <select
            id="course"
            name="course"
            #inputCourse="ngModel"
            required
            ngModel
          >
            <option value="" hidden>Choose course</option>
            <option *ngFor="let course of courses" [value]="course.id">
              {{ course.name }}
            </option>
          </select>
        </div>

        <!-- ASSIGN STUDENT -->
        <div class="form-group">
          <label for="student">Student:</label>
          <ng-container *ngIf="inputName.touched">
            <p
              class="error"
              *ngIf="inputName.invalid || inputName.errors?.['required']"
            >
              Selecting student is required!
            </p>
          </ng-container>
          <select
            id="student"
            name="student"
            #inputName="ngModel"
            required
            ngModel
          >
            <option value="">Choose student</option>
            <option *ngFor="let student of students" [value]="student.id">
              {{ student.firstName }} {{ student.lastName }} -
              {{ student.email }}
            </option>
          </select>
        </div>

        <div class="btn-wrapper save">
          <button type="submit" class="button save">
            <mat-icon>done</mat-icon> SUBMIT
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
