mat-card {
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

mat-card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #eceff1, #b0bec5);
  padding: 16px;
  gap: 10px;
}

mat-card-title {
  flex: 1;
  width: 100%;
  color: #00247d;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

mat-card-content {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form {
  width: 100%;
}

.form-group {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0;
  color: #00247d;
  flex-shrink: 0;
  width: 20%;
}

.form-group select,
.form-group input,
.form-group textarea {
  width: 80%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-bottom: 2px solid #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-group select::placeholder,
.form-group input::placeholder,
.form-group textarea::placeholder {
  color: lightgray;
}

.error {
  color: #f08000;
  font-size: 0.8em;
  margin-top: 5px;
  width: 100%;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.save {
  padding: 20px;
}

.button {
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button.save {
  background-color: darkgreen;
}

.button.save:hover {
  background-color: green;
}

.button.back {
  background-color: darkblue;
}

.button.back:hover {
  background-color: blue;
}

/* Media Query for small screens */
@media (max-width: 600px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-group label {
    width: 100%;
    margin-bottom: 5px;
  }

  .form-group select,
  .form-group input,
  .form-group textarea {
    width: 100%;
  }

  .btn-wrapper {
    justify-content: center;
    width: 100%;
  }
}
