<div class="general">
  <h1>Users' Board</h1>
</div>

<app-search (searchQuery)="filterUsers($event)"></app-search>

<div class="dropdown" (mouseleave)="showDropdown = false">
  <button
    mat-button
    class="side-menu-items"
    (click)="showDropdown = !showDropdown"
  >
    Filter Roles
    <mat-icon style="margin-left: auto">
      {{ showDropdown ? "keyboard_arrow_up" : "keyboard_arrow_down" }}
    </mat-icon>
  </button>
  <div class="dropdown-content" *ngIf="showDropdown">
    <p (click)="filterUsersByRole(1)">1. Admin</p>
    <p (click)="filterUsersByRole(2)">2. Teacher</p>
    <p (click)="filterUsersByRole(3)">3. Student</p>
    <p (click)="filterUsersByRole(4)">4. New User</p>
    <p (click)="filterUsersByRole(0)">All Users</p>
  </div>
</div>
<!-- user-cards -->
<div class="user-cards-container">
  <table class="mat-table">
    <thead class="large-screen-only">
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>E-mail</th>
        <th>Manage Role</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <span class="wrapper">
            <strong style="margin-right: 10px">Role: </strong>
            <span
              (click)="onToggle(user.id)"
              class="role"
              *ngIf="!isEditMode[user.id]; else editModeContent"
              >{{ user.role }}</span
            >
            <ng-template #editModeContent>
              <form
                [formGroup]="roleForms[user.id]"
                (ngSubmit)="updateRole(user, user.id, $event)"
              >
                <input
                  type="text"
                  name="role"
                  id="role"
                  formControlName="role"
                  [value]="user.role"
                />
                <button type="submit">Update</button>
              </form>
            </ng-template>
          </span>
        </td>
        <td class="delete-cell">
          <button (click)="confirmDelete(user.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- paginator -->
<mat-paginator
  [length]="totalUsers"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true"
  [pageIndex]="currentPage"
  (page)="handlePageEvent($event)"
></mat-paginator>
